.div {
    margin-top: 60px;
    border: none;
    width: 273px;
    height: 100%;
    background-color: #E8E8E8;
    border-radius: 15px;
    padding-top: 18px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 35px;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 23px;
    row-gap: 35px;
    margin-top: 25px;
}

.item {
    width: 100px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 16px;
}

.title {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    font-family: "Montserrat", sans-serif;
}

.name {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 15px;
}

.button {
    width: 78px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 22px;
    background-color: #FFB36C;
    font-size: 10px;
    font-weight: 500;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    transition:
        background-color 0.2s ease,
        transform 0.15 ease,
        box-shadow 0.15s ease;
}

.button:hover, .button:focus {
    background-color: #ff9c3f;;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
    

}

    .button:active {
        transform: translateY(0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }

.likeButton {
    border: none;
    background-color: transparent;
}

.likeButton:hover {
  transform: scale(1.1);  
}

.likeIcon {
  color: #000000;     
  font-size: 1.5rem;
  transition: color 0.2s ease, transform 0.2s ease;
}

.likeButton:hover .likeIcon {
  color: #ff4d4d;    
  transform: scale(1.1);    
}


@media (min-width: 768px) {


    .div {
        width: 614px;
        height: 100%;
        padding-top: 20px;
        padding-bottom: 35px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .title {
        padding-left: 10px;
        font-size: 14px;
        font-weight: 600;
        color: #000000;
        font-family: "Montserrat", sans-serif;
}

    .list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 17px;
}

    .item {
        width: 564px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #D9D9D9;
        border: none;
        border-radius: 14px;
        padding-top: 0;
}

    .name {
        font-size: 14px;
        margin-bottom: 0;
        width: 50px
}

    .button {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 30px;
    }
}

@media (min-width: 1200px) {
    .div {
        width: 1120px;
        height: 100%;
        padding-top: 26px;
        padding-left: 66px;
        padding-right: 66px;
        padding-bottom: 42px;
    }

    .title {
        padding-left: 10px;
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        font-family: "Montserrat", sans-serif;
}

    .item {
        width: 986px;
        height: 57px;
        padding-left: 30px;
        padding-right: 30px;
}

    .button {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 60px;
    }

    .name {
        font-size: 14px;
        margin-bottom: 0;
        width: 80px
    }

    .button {
        width: 99px;
        height: 30px;
        font-size: 10px;
        border-radius: 14px;
    }

    .likeIcon {
        width: 24px;
        height: 24px;

    }

    
}