.weatherDiv {
    padding-bottom: 15px;
}

.weatherItem:nth-child(2),
.weatherItem:nth-child(3) {
    display: none;
}

.weatherList {
    display: flex;
    justify-content: center;
}  

.weatherItem {
    width: 293px;
    height: 100%;
    background-color: #E8E8E8;
    border: none;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.weatherCityNameDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.weatherCityName, .weatherCountryName {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #000000
}

.weatherTime {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 11px;
    text-align: center;
}

.weatherButtonDiv {
    display: flex;
    justify-content: center;
    gap: 21px;
    margin-bottom: 12px;
}

.weatherButton {
    background-color: #FFB36C;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #000000;
    width:  108px;
    height: 28px;
    transition: 
            background-color 0.2s ease,
            transform 0.15s ease,
            box-shadow 0.15s ease;
}

    .weatherButton:hover, .weatherButton:focus {
        background-color: #ffa24a; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        transform: translateY(-1px);
    }

    
    .weatherButton:active {
        transform: translateY(0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }



.weatherDateDiv {
    display: flex;
    padding-left: 48px;
    gap: 12px;
    margin-bottom: 32px;
}

.weatherDate, .weatherDay {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
}

.weatherLineDiv {
    height: 14px;
    width: 1px;
    background-color: #000000;
}

.cityWeatherDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 42px;
}

.weatherImage {
    width: 86px;
    height: 86px;
}

.weatherDegrees {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 500;
    color: #000000;
}

.weatherInfoDiv {
    display: flex;
    justify-content: center;
}

.reloadButton {
    margin-right: 14px;
    border: none;
    background-color: transparent;
    transition: all 0.3s ease; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.reloadIcon {
    width: 26px;
    height: 26px;
}

.likeButton {
    margin-right: 28px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.likeIcon {
    width: 26px;
    height: 26px;
}

.likeButton:hover {
  transform: scale(1.2);  
}

.likeIcon {
  color: #000000;     
  font-size: 1.5rem;
  transition: color 0.2s ease, transform 0.2s ease;
}

.likeButton:hover .likeIcon {
  color: #ff4d4d;    
  transform: scale(1.1);    
}

.seeMoreButton {
    width: 90px;
    height: 28px;
    margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: #FFB36C;
    font-size: 10px;
    font-weight: 500;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    transition:
        background-color 0.2s ease,
        transform 0.15 ease,
        box-shadow 0.15s ease;
}

.seeMoreButton:hover, .seeMoreButton:focus {
    background-color: #ff9c3f;;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
    

}

    .seeMoreButton:active {
        transform: translateY(0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }

.deleteButton {
    border: none;
    background-color: transparent;
    transition: all 0.3s ease;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    
}

.deleteButton:hover {
  background-color: #ff4d4d;  
  transform: scale(1.1);   
}

.deleteIcon {
  color: #000000;          
  font-size: 1.3rem;
  transition: color 0.2s ease;
}

.deleteButton:hover .deleteIcon {
  color: #fff;      
}

.deleteIcon {
    width: 26px;
    height: 26px;
}

.reloadButton:hover {
  background-color: #4da6ff;      /* light blue background on hover */
}

.reloadIcon {
  color: #000000;                    /* default icon color */
  font-size: 1.3rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.reloadButton:hover .reloadIcon {
  color: #fff;                    /* icon becomes white */
  transform: rotate(360deg);      /* full rotation on hover */
}


@media (min-width: 768px) {
    .weatherDiv {
        padding-bottom: 25px;
    }

    .weatherItem:nth-child(2) {
        display: inline;
    }

    .weatherList {
        display: flex;
        gap: 90px;
    }  

    .weatherItem {
        width: 262px;
        height: 100%;
        padding-top: 12px;
        padding-bottom: 15px;
    }

    .weatherCityNameDiv {
        margin-bottom: 11px;
    }

    .weatherImage {
        width: 76px;
        height: 76px;
    }

    .cityWeatherDiv {
        margin-bottom: 36px;
        gap: 24px;
    }

    .deleteIcon, .likeIcon, .reloadIcon {
        width: 24px;
        height: 24px;
    }

    .weatherDateDiv {
        padding-left: 47px;
    }

    .weatherLineDiv {
        width: 1px;
    }
}

@media (min-width: 1200px) {

    .weatherItem:nth-child(3) {
        display: inline;
    }

    .weatherLineDiv {
        width: 1px;
    }

    .weatherList {
        display: flex;
        gap: 90px;
    }   

    .weatherItem {
        width: 320px;
        height: 100%;
        padding-bottom: 20px;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .weatherCityName, .weatherCountryName {
        font-size: 14px;
    }

    .weatherTime {
        font-size: 24px;
    }

    .weatherButton {
        width: 117px;
        height: 28px;
        font-size: 10px;
    }

    .weatheDate, .weatherDay {
        font-size: 14px;
    }

    .weatherImage {
        width: 120px;
        height: 120px;
    }

    .weatherDegrees {
        font-size: 32px;
    }

    .reloadIcon, .likeIcon, .deleteIcon {
        width: 30px;
        height: 30px;
    }

    .seeMoreButton {
        width: 99px;
        height: 28px;
        font-size: 10px;
        border-radius: 14px;
    }

    .weatherDateDiv {
        padding-left: 68px;
        display: flex;
        align-items: center;
    }

    .cityWeatherDiv {
        gap: 34px;
        margin-bottom: 24px;
    }

    .weatherButtonDiv {
        margin-bottom: 16px;
    }
}