.div {
    margin-top: 60px;
    border: none;
    width: 273px;
    height: 580px;
    background-color: #E8E8E8;
    border-radius: 15px;
    padding-top: 18px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 35px;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 23px;
    row-gap: 35px;
    margin-top: 25px;
}

.item {
    width: 100px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 16px;
}

.title {
    padding-left: 20px;
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    font-family: "Montserrat", sans-serif;
}

.day {
    font-size: 10px;
    font-weight: 600;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 15px;
}

.weatherDiv {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 15px;
    align-items: center;
}

.weatherImage {
    width: 30px;
    height: 30px;
}

.weatherDegrees {
    font-size: 10px;
    font-weight: 600;
    color: #000000;
    font-family: "Montserrat", sans-serif;
}

.weatherName {
    font-size: 10px;
    font-weight: 600;
    color: #000000;
    font-family: "Montserrat", sans-serif;
}



@media (min-width: 768px) {
    .div {
        width: 614px;
        height: 370px;
        padding-top: 20px;
        padding-bottom: 35px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 17px;
}

    .title {
        padding-left: 10px;
        font-size: 14px;
        font-weight: 600;
        color: #000000;
        font-family: "Montserrat", sans-serif;
}

    .item {
        width: 564px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #D9D9D9;
        border: none;
        border-radius: 14px;
        padding-top: 0;
}

    .day {
        font-size: 14px;
        margin-bottom: 0;
        width: 100px
    }

    .weatherDiv {
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        gap: 15px;
    }

    .weatherImage {
        width: 35px;
        height: 35px;
    }

    .weatherDegrees {
        font-size: 14px;
    }

    .weatherName {
        font-size: 14px;
        width: 120px;
        display: flex;
        justify-content: right;
    }
}

@media (min-width: 1200px) {
    .div {
        width: 1120px;
        height: 400px;
        padding-top: 26px;
        padding-left: 66px;
        padding-right: 66px;
        padding-bottom: 42px;
    }

    .list {
        gap: 10px;
    }

    .title {
        padding-left: 10px;
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        font-family: "Montserrat", sans-serif;
}

    .item {
        width: 986px;
        height: 47px;
        padding-left: 30px;
        padding-right: 30px;
}

    .day, .weatherImage, .weatherName {
        font-size: 16px;
    }

    
    .day {
        font-size: 14px;
        margin-bottom: 0;
        width: 100px
    }

    .weatherImage {
        width: 45px;
        height: 45px;
    }

    .weatherName {
        font-size: 14px;
        width: 138px;
        display: flex;
        justify-content: right;
    }
}

