.div {
    margin-top: 30px;
    margin-bottom: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 43px;
    padding-right: 43px;
    background-color: #E8E8E8;
    border: none;
    border-radius: 16px;
}

.item {
    width: 207px;
    height: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #D9D9D9;
    border: none;
    border-radius: 16px;
    padding-top: 15px;
}

.title {
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 24px;
}

.maxminList {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.maxminItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 60px;
    height: 60px;
}

@media (min-width: 768px) {
    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 28px;
        padding-bottom: 28px;
        padding-left: 25px;
        padding-right: 25px;
        row-gap: 30px;
        column-gap: 20px;
    }

    .item {
        width: 174px;
        height: 200px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #D9D9D9;
        border: none;
        border-radius: 20px;
        padding-top: 16px;
}

    .title {
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 12px;
}

    .text {
        font-size: 18px;
        font-weight: 500;
        color: #000000;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 36px;
}


}

@media (min-width: 1200px) {
    .list {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 75px;
        padding-right: 75px;
        row-gap: 40px;
        column-gap: 50px;
    }

    .item {
        width: 290px;
        height: 217px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #D9D9D9;
        border: none;
        border-radius: 16px;
        padding-top: 20px;
}

    .title {
        font-size: 16px;
        font-weight: 500;
        color: #000000;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 10px;
    }

    .text {
        font-size: 32px;
        font-weight: 500;
        color: #000000;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 20px;
    }

    .image {
        width: 85px;
        height: 85px;    
    }
}