.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFB36C;
    margin: 0 auto;
    max-width: 393px;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.footerImage {
    width: 50px;
    height: 34.48px;
    margin-right: 60px;
}

.footerAdressText {
    color: #000000;
    font-family: "Montserrat Alternates", sans-serif;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
}

.footerAdress {
    font-weight: 500;
    color: #000000;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 10px;
}

.contactDiv {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.contactTitle {
    color: #000000;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.contactList {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 18px;
}

.img {
    width: 40px;
    height: 40px;
}

#inst {
    width: 44px;
    height: 44px;
}

@media (min-width: 768px) {
    .footer {
        padding-top: 35px;
        padding-bottom: 35px;
        max-width: 834px;
    }

    .footerImage {
        width: 58px;
        height: 40px;
        margin-right: 100px;
    }

    .footerAdressText {
        margin-bottom: 15px;
        font-size: 14px;
    }

    .footerAdress {
        font-size: 10px;
    }

    .contactDiv {
        margin-left: 100px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .contactTitle {
        font-size: 14px;
        text-align: left;
    }

    .contactList {
        display: flex;
        margin-top: 20px;
        justify-content: center;
        gap: 18px;
    }

    .img {
        width: 35px;
        height: 35px;
    }

    #inst {
        width: 37px;
        height: 37px;
    }
}

@media (min-width: 1200px) {
    .footer {
        padding-top: 40px;
        padding-bottom: 63px;
        max-width: 1440px;
    }

    .footerImage {
        width: 90px;
        height: 62px;
        margin-right: 100px;
    }

    .footerAdressText {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .footerAdress {
        font-size: 12px;
    }

    .contactDiv {
        margin-left: 100px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .contactTitle {
        font-size: 16px;
    }

    .contactList {
        display: flex;
        margin-top: 16px;
        justify-content: center;
        gap: 18px;
    }

    .img {
        width: 40px;
        height: 40px;
    }

    #inst {
        width: 44px;
        height: 42px;
    }
}