.gallery {
    display: none;
}

@media (min-width: 1200px) {
    .gallery {
        display: inherit;
        padding-bottom: 48px;
        padding-top: 40px;
    }
    
    .title {
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 40px;
        color: #000000
    }

    .list {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-left: 200px;
    }

    .list img {
        cursor: pointer;
    }

    .image1 {
        width: 420px;
        z-index: 1;
        position: relative;
    }

    .image2 {
        width: 610px;
        z-index: 2;
        position: relative;
        margin-left: -50px;
    }

    .image3 {
        width: 800px;
        z-index: 3;
        position: relative;
        margin-left: -100px;
    }

    .image4 {
        width: 710px;
        z-index: 2;
        position: relative;
        margin-left: -150px;
    }

     .image5 {
        width: 620px;
        z-index: 1;
        position: relative;
        margin-left: -200px;
     }

     .button {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        font-family: "Montserrat", sans-serif;
        background-color: #FFB36C;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 136px;
        height: 40px;
        color: #000000;
        font-size: 16px;
        border: none;
        outline: none;
        border-radius: 12px;
        cursor: pointer;
        font-weight: 500;
        transition:
            background-color 0.2s ease,
            transform 0.15 ease,
            box-shadow 0.15s ease;
     }

     .button:hover, .button:focus {
        background-color: #ff9c3f;;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        transform: translateY(-1px);
        

    }

    .button:active {
        transform: translateY(0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }
}