.header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFFFFF;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerImage {
    margin-right: 0;
    width: 34px;
    height: 22px;
}

.headerMenu {
    display: flex;
}

.headerList {
    display: none;
}

.headerDiv {
    display: none;
}

.headerMenuButton {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}



.headerMenuLink {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-size: 10px;

}

.headerMenuIcon {
    padding-bottom: 2px;
    
}


@media (min-width: 768px) {
    .container {
        justify-content: left;
    }

    .headerImage {
        margin-right: 57px;
        width: 54px;
        height: 36px;
    }

    .headerMenu {
        display: none;
    }

    .headerList {
        display: flex;
        gap: 44px;
        margin-right: 126px
}

    .headerLink {
        color: #000000;
        font-size: 10px;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 500;
        transition:
            color 0.2s ease,
            transform 0.15s ease,
    }

    .headerLink:hover, .headerLink:focus {
        color: #ff9c3f;;
        transform: translateY(-1.5px);

    }


    .headerDiv {
        display: flex;
        gap: 25px;
        align-items: center;
}

    .headerButton {
        width: 73px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fba555;
        border-radius: 10px;
        border: none;
        color: #000000;
        font-weight: 500;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 10px;
        cursor: pointer;

          transition: 
            background-color 0.2s ease,
            transform 0.15s ease,
            box-shadow 0.15s ease;
    }

    .headerButton:hover, .headerButton:focus {
        background-color: #ffa24a; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        transform: translateY(-1px);
    }

    .headerButton:active {
        transform: translateY(0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }


    .user {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 1200px) {
    .headerImage {
        margin-right: 111px;
        width: 82px;
        height: 56px;
    }
    
    .headerList {
        margin-right: 504px
    }

    .headerLink {
        font-size: 12px;
    }

    .headerDiv {
        display: flex;
        gap: 27px;
}

    .headerButton {
        width: 89px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFB36C;
        border-radius: 10px;
        border: none;
        color: #000000;
        font-weight: 500;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 12px;
    }

    .user {
        width: 50px;
        height: 50px;
    }
}