.hero {
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 100px;
    background-color: black;
    height: 345px;
    background-image: url('../../images/hero-nature-mobile.webp');
    background-position: center;
    background-repeat: no-repeat;
    max-width: 393px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroTitle {
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    margin-bottom: 35px;
    font-size: 14px;
    font-weight: 600;
}

.heroDiv {
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-left: 23px;
    margin-bottom: 48px;
}

.heroText {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 500;
    width: 136px;
    color: #FFFFFF
}

.heroDate {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 500;
    width: 69px;
    color: #FFFFFF
}

.heroLine {
    position: absolute;
    left: 0;
    width: 2px;
    background-color: #FFFFFF;
    height: 80px;
}

.heroForm {
    display: flex;
    align-items: center;
    gap: 2px;
}

.heroInput {
    width: 157px;
    height: 15px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #D9D9D9; 
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    color: #878787;
    font-size: 6px;
    border: none;
    outline: none;
}

.heroButton {
    width: 14px;
    height: 15px;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFB36C;
    cursor: pointer;
}

.heroIcon {
    width: 9px;
    height: 9px;
}

@media (min-width: 768px) {
    .hero {
        padding-top: 40px;
        padding-bottom: 40px;
        height: 345px;
        background-image: url('../../images/hero-nature-tablet.webp');
        max-width: 834px;
    }

    .heroTitle {
        font-family: "Montserrat", sans-serif;
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 600;
}

    .heroDiv {
        display: flex;
        gap: 32px;
        flex-direction: row;
        padding-right: 100px;
        margin-bottom: 64px;
    }

    .heroText {
        font-size: 14px;
        width: 172px;
    }

    .heroDate {
        font-size: 14px;
        width: 96px;
    }

    .heroLine {
        position: inherit;
        height: 110px;
    }

    .heroInput {
        width: 373px;
        height: 27px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        background-color: #D9D9D9; 
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 19px;
        color: #878787;
        font-size: 10px;
        border: none;
    }

    .heroButton {
        width: 27px;
        height: 27px;
        border: none;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFB36C;
    }

    .heroIcon {
        width: 16px;
        height: 16px;
    }
}

@media (min-width: 1200px) {
    .hero {
        max-width: 1440px;
        padding-top: 100px;
        padding-bottom: 100px;
        height: 595px;
        background-image: url('../../images/hero-nature-desktop.webp');
}

    .heroTitle {
        margin-bottom: 80px;
        font-size: 40px;
    }

    .heroDiv {
        display: flex;
        gap: 48px;
        flex-direction: row;
        padding-right: 210px;
        margin-bottom: 80px
    }

    .heroText {
        font-size: 24px;
        width: 345px;
    }

    .heroDate {
        font-size: 24px;
        width: 164px;
    }

    .heroLine {
        position: inherit;
        height: 144px;
    }

    .heroForm {
        gap: 4px
    }

    .heroInput {
        width: 580px;
        height: 42px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: #D9D9D9; 
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 29px;
        color: #878787;
        font-size: 14px;
        border: none;
    }

    .heroButton {
        width: 43px;
        height: 42px;
        border: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFB36C;
    }

    .heroIcon {
        width: 25px;
        height: 25px;
    }
}