.news {
    display: none;
}

@media (min-width: 1200px) {
    .news {
        display: inherit;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .title {
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 40px;
        color: #000000
    }

    .list {
        display: flex;
        gap: 20px;
        margin-bottom: 40px;
    }

    .item {
        width: 270px;
    }

    .image {
        width: 270px;
        height: 208px;
        margin-bottom: 20px;
    }

    .text {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #000000
    }

    .button {
        font-family: "Montserrat", sans-serif;
        background-color: #FFB36C;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 136px;
        height: 40px;
        color: #000000;
        font-size: 16px;
        border: none;
        outline: none;
        border-radius: 12px;
        cursor: pointer;
        font-weight: 500;
    }
}