.news {
    display: none;
}

@media (min-width: 1200px) {
    .news {
        display: inherit;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .title {
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 40px;
        color: #000000
    }

    .list {
        display: flex;
        gap: 20px;
        margin-bottom: 40px;
        flex-wrap: wrap;
    }

    .item {
        width: 260px;
    }

    .image {
        width: 260px;
        height: 198px;
        margin-bottom: 20px;
        border-radius: 15px;
    }

    .text {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #000000;
        max-width: 260px
    }

    .button {
        font-family: "Montserrat", sans-serif;
        background-color: #FFB36C;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 136px;
        height: 40px;
        color: #000000;
        font-size: 16px;
        border: none;
        outline: none;
        border-radius: 12px;
        cursor: pointer;
        font-weight: 500;
        transition:
            background-color 0.2s ease,
            transform 0.15 ease,
            box-shadow 0.15s ease;
    }

.button:hover, .button:focus {
    background-color: #ff9c3f;;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
    

}

    .button:active {
        transform: translateY(0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }
}