.weather {
    padding-top: 35px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .weather {
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

@media (min-width: 1200px) {
    .weather {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}